/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

body {
	width: 75%;
}
nav {
	display: inline-block;
	margin: 0 50px 50px 50px;
}

nav a{
	font-size: 12px;
	margin: 15px;
	padding: 10px;
	text-decoration: none;
	color: lightgray;
}

h1 {
	font-size: 75px;
	text-align: center;
	display: inline-block;
}


.openertext {
	display: inline-block;
	padding: 0 5% 0 15%;
	vertical-align: middle;
}

.openerimg {
	display: inline-block;
	vertical-align: middle;
}


button {
	border: 1px solid black;
	font-size: 12px;
	font-family: 'Titillium Web', sans-serif;
	padding: 2px 40px;
	margin: 0 25%;
	
}

.content {
	margin: 0 10%;
}

.contentrow1 .contentblock {
	display: inline-block; 
	width: 49%
}

.contentrow2 .contentblock {
	display: inline-block; 
	width: 32%
}

hr {
	border-color: gray;
	margin: 50px 0;
}

.middle-img {
	margin: 30px 0;
	width: 100%;
}

.phone {
	margin: 20px 0;
}

.email {
	margin: 20px 0;
}

.copyright {
	text-align: center;
	margin: 50px;
}

@keyframes navigation {
	from {background-color: white;}
	to {background-color: rgb(219, 213, 213);}
  }

nav a:hover {
	background: lightblue;
	color: purple;
	animation-name: navigation;
	animation-duration: 2s;
}

.wrapper {
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px 70px;
}